<%= link_to new_tweet_path  do %>
  <p>
    <button type="button" class="btn btn-primary btn-lg">投稿する</button>
  </p>
<% end %>

<% @tweets.each do |tweet| %>
  <p>
    <%= link_to "#{tweet.content}", tweet_path(tweet.id) %>
    <%= link_to "(ユーザー名：#{tweet.user.nickname})", user_path(tweet.user_id) %>
  </p>
<% end %>