<div class="title-box">
  <div class="page-title">新規投稿ページ</div>
</div>

<br><br><br>

<div class="">
  <%= form_with(model: @tweet, local: true) do |f| %>
    <div class="">
        <%= f.submit "投稿", class: "btn btn-success text-white btn-lg" %>
    </div> 
    <br>
    <div class=""> 
      <%= f.text_area :content, placeholder: "投稿したい文を入力してください", rows: "6", class: "w-75 p-2 rounded" %>
    </div> 
  <% end %>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
