<div class="container">
  <%= link_to tweet_path(@tweet.id), method: :delete do %>
    <p>
      <button type="button" class="btn btn-primary btn-lg">削除する</button>
    </p>
  <% end %>
  <%= @tweet.content%>
</div>