<h4>投稿詳細ページ</h4>
<p>
  <%= link_to "(ユーザー名：#{@tweet.user.nickname})", user_path(@tweet.user_id) %>
</p>

<p><%= @tweet.content%></p>

<%= link_to tweet_path(@tweet.id), method: :delete do %>
  <p>
    <button type="button" class="btn btn-primary btn-lg">削除する</button>
  </p>
<% end %>
<%= link_to edit_tweet_path(@tweet.id) do %>
  <p>
    <button type="button" class="btn btn-primary btn-lg">編集する</button>
  </p>
<% end %>
