<div class="forms-container">

  <div class="titles">お知らせ</div>
  <div class="notification-contents">
    <% if @notifications.exists? %>
      <div class="text-right mb-5">
          <%= link_to notification_path(@notifications), method: :delete, class: "link text-warning" do %>
            <i class="fas fa-trash mr-1"></i>確認済みにする
          <% end %>
      </div>
      <div class="notification-index">
          <%= render @notifications %>
      </div>
    <% else %>
        <p class="mt-5">お知らせはありません</p>
    <% end %>
  </div>

</div>

<style>
  .notification-contents {
    margin-top: 20px;
    max-width: 500px;
  }

  .notification-contents a {
    color: black;
    font-weight: bold;
  }

  .notification-content {
    border-bottom: 1px solid gray;
    padding: 0 35px 2px;
    margin-bottom: 20px;
  }

  .notification-comment {
    font-size: 12px;
  }
</style>