<div class="forms-container">

  <div class="titles">お知らせ</div>
  <div class="notification-contents">
    <%# 通知が表示されていれば、「確認済みにする」ボタンを表示 %>
    <% if @notifications.exists? %>
      <div class="text-right mb-5">
          <%= link_to notification_path(@notifications), method: :delete, class: "link text-warning" do %>
            <i class="fas fa-trash mr-1"></i>確認済みにする
          <% end %>
      </div>
      <div class="notification-index">
          <%# 通知の繰り返し表示 %>
          <%= render @notifications %>
      </div>
    <% else %>
        <p class="mt-5">お知らせはありません</p>
    <% end %>
  </div>

</div>