* {
  box-sizing: border-box;
}

body {
  overflow-x:hidden
}

.max {
  max-width: 1300px;
  min-height: 90vh;
  padding-top: 80px;
}

.nav-parent {
  height: 85px;
}

.nav-items {
  max-width: 1300px;
  margin: 0 auto;
}

a {
  font-family: MS UI Gothic;
}

ul {
  cursor: pointer;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

.btn-lg {
  font-family: Times New Roman;
}

.navbar {
  background-color: rgb(58, 167, 31);
}

.navbar-toggler{
  border-color: #ffffff;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(60,60,60,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.top-btn {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 30px;
  font-family: MS ゴシック;
}

.header-item {
  padding: 3px 0;
  margin-left: 10px;
}

.back-ground {
  background-color: rgb(255, 255, 255);
  padding: 0 15px;
 }

.f-f-monospace {
  font-family: monospace;
}

.font-bold {
  font-weight: bold;
}

.border-none {
  border: none;
}

.titles {
  display: inline-block;
  font-family: monospace;
  font-size: 35px;
  margin-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

.forms-container {
  padding: 50px 20px 50px;
  text-align: center;
}

.forms-content {
  display: inline-block;
}

.forms-border {
  border-bottom: 1px solid rgb(214, 214, 214);
}

footer {
  background-color: rgb(90, 90, 90);
  padding-bottom: 5px;
  font-size: 12px;
  color: white;
  height: 10vh;
  width: 100vw;
}

.footer-title {
  font-size: 30px;
  color: #ffffff;
}

.text-muted {
  color: rgb(255, 255, 255);
}


.before_image {
  height: 100px;
  width: 100px;
}

.error {
  list-style: none;
  color: red;
  font-size: 12px;
}

.key {
  color: white;
  background-color: orange;
  font-weight: bold;
  z-index: 10;
  position: absolute;
  top: 80px;
  width: 100vw;
  padding: 15px 10px 10px;
}

.like-link {
  text-decoration: none;
}

.like-link:hover {
  background-color: #fff!important;
}

.like-btn {
  font-size: 15px;
  color: #313030;
}

.unlike-btn {
  font-size: 15px;
  color: #47c43c;
}

@media (max-width: 800px) {

  .forms-container {
    padding-top: 30px;
  }

  .forms-content {
    padding: 10px;
  }

  .titles {
    font-size: 30px;
  }

}

@media (max-width: 480px) {

  .titles {
    font-size: 25px;
  }

}