.vdot-container {
  background-color: rgb(245, 245, 245);
  padding: 100px 20px 20px;
}

.vdot-dropdown {
  float: right;
  padding: 10px;
}

.vdot-left-btn {
  margin-right: 20px;
  background-color: rgb(36, 167, 42);
  color: white;
  border: none;
  border-radius: 5px;
}

.vdot-right-btn {
  background-color: rgb(36, 167, 42);
  color: white;
  border: none;
  border-radius: 5px;
}

.dropdown-menu {
  background-color: rgb(190, 228, 190);
  margin: 350px 20px 0 0 ;
}

.dropdown-list {
  padding: 10px 0 10px 25px;
  border-bottom: 1px solid rgb(161, 160, 159);
}

.dropdown-vdot {
  padding: 10px 0 10px 25px;
  margin-bottom: 160px;
  margin-top: 0;
  max-height: 0;
}

.vdot-content {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 2px rgb(173, 173, 173);
}

.vdot-record-item {
  max-width: 350px;
}

.vdot-pace-item {
  max-width: 350px;
}

.vdot-number {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.hide-lists {
  max-width: 800px;
  margin: 3px auto 0;
}

.hide-list{
  padding: 0 2px;
}

@media (max-width: 480px) {

  .vdot-title {
    font-size: 25px;
  }

  .dropdown {
    position: relative;
  }

  .vdot-dropdown {
    font-size: 10px;
    padding: 5px;
  }

  .dropdown-menu {
    margin: 300px 0 0 0;
    background-color: rgb(186, 234, 248);
    position: absolute;
    left: -50px;
  }

  .dropdown-vdot {
    max-height: 130px;
    max-width: 300px;
    margin-right: 20px;
  }

}