<% if model.errors.any? %>
<div class="error-alert d-flex justify-content-start">
 <ul>
   <% model.errors.full_messages.each do |message| %>
   <li class='error-message error'><%= message %></li>
   <% end %>
 </ul>
</div>
<% end %>