
@import "slick-theme"; 
@import "slick";
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  box-sizing: border-box;
}

a {
  font-family: MS UI Gothic;
}

a:hover {
  text-decoration: none;
}

.btn-lg {
  font-family: Times New Roman;
}

.f-f-monospace {
  font-family: monospace;
}

.border-none {
  border: none;
}

.titles {
  background: linear-gradient(transparent 20%, rgb(255, 215, 105));
  display: inline-block;
  color: rgb(70, 69, 69);
  display: inline-block;
  font-size: 40px;
  font-family: monospace;
  margin-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

.flash-message{
  display: inline-block;
  color: white;
  background-color: orange;
  padding: 1em;
  border-radius: 10px;
  font-weight: bold;
  z-index: 10;
  margin-top: 75px;
}

.forms-container {
  background-color: rgb(228, 247, 222);
  padding: 80px 20px 50px;
  text-align: center;
}

.forms-content {
  display: inline-block;
  color: rgb(75, 73, 73);
  background-color: rgb(146, 227, 241);
  border-radius: 50px;
  padding: 20px;
}


// トップページ


.back-ground {
  background-color: rgb(228, 247, 222);
  padding-bottom: 50px;
 }

.slide-content {
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
}

.slide-text {
  margin-top: 45px;
  margin-left: 10px;
}

.slide-text h4 {
  background: linear-gradient(transparent 30%, rgb(247, 200, 71));
  display: inline-block;
  font-size: 30px;
}

.tweet-btn {
  margin: 0 0 70px 30px;
}

.tweet-index-content-size {
  max-width: 340px
}

.bg-tweet-index-content {
  padding: 5px;
  background-color: lightblue;
  margin-bottom: 20px;
}

.place-image {
  width: 25vh;
  height: 23vh;
}

.tweet-index-image-icon {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  margin-bottom: 5px;
}

.tweet-index-content {
  text-align: center;
}

.tweet-index-nickname {
  font-size: 12px;
  color: black;
}

.tweet-index-address {
  margin: 10px;
  color: black;
  font-size: 10px;
} 

.tweet-index-place {
  background-color: rgb(253, 211, 169);
  display: inline-block;
  padding: 10px 30px 5px 30px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(68, 67, 67);
}

.tweet-index-text {
  padding: 10px 10px 0 10px;
  margin: 0 0 5px 15px;
  width: 90%;
  height: 120px;
}


// 投稿詳細ページ


.tweet-show-container {
  padding-top: 100px;
}

.tweet-show-place-image { 
  width: 550px;
  height: 350px;
}

.tweet-show-place-name {
  padding: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.tweet-show-middle-container {
  padding: 0 20px 200px 20px;
  height: 100%;
}

.tweet-show-middle-contents {
  display: flex;
  justify-content: space-between;
}

.tweet-show-left-contents {
  height: 440px;
}

.tweet-show-left-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px;
}

.tweet-show-place-texts {
  background-color: white;
  padding: 10px;
  font-size: large;
  border-radius: 4px;
  height: 150px;
  margin-right: 0;
  margin-top: 50px;
  max-width: 500px;
}

.tweet-show-profile {
  padding-left: 40px;
  text-align: center;
}

.tweet-user {
  background-color: white;
  padding: 10px 20px 14px;
  border-radius: 5px;
  margin: 10px 0px 0 10px;
  display: inline-block;
  color: rgb(58, 57, 57);
  font-weight: bold;
}

.tweet-show-image-icon {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  margin-bottom: 20px;
}

.tweet-show-btn {
  margin-top: 30px;
  text-align: center;
}

.tweet-show-delete-btn {
  margin-right: 15px;
  margin-top: 48px;
}

.tweet-show-info {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  text-align: center;
  color: rgb(94, 94, 94);
  font-size: 20px;
  font-weight: bold;
  background: rgba(248, 198, 122, 0.9);
  border-radius: 10px;
}

.address {
  background-color: white;
  border-radius: 4px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 15px;
  padding: 10px 0;
  width: 500px;
  max-height:50px;
  font-size: 18px;
}

#map{
  height: 440px;
  width: 500px;
  margin-top: 30px;
}

.message-group {
 padding-top: 300px;
}


.massage-form {
  margin: 20px 0 40px;
  max-width: 600px;
  width: 50vw;
}

.message {
  padding: 10px;
  margin: 30px;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 500px;
}


// ユーザー詳細ページ


.user-middle-container {
  background-color: rgb(224, 226, 223);
}

.user-bottom-container {
  background-color: rgb(228, 247, 222);
}

.user-top-content {
  background-color: rgb(228, 247, 222);
  padding-top: 30px;
}

.user-profile {
  background-color: rgb(146, 227, 241);
  padding: 10px;
  border-radius: 10px;
}

.show-image {
  display: flex;
  justify-content: center;
}

.user-show-name-parent {
  text-align: center;
}

.user-show-name {
  padding: 5px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 30px;
  background-color: white;
  color: rgb(94, 94, 94);
}

.icon_image {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  object-fit: cover; //タテヨコ比を変えないままトリミング
}

.user-record-text {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 5px;
  /* 背景グラデーションを指定・幅を 200% にしておく */
  background: linear-gradient(to right, rgb(255, 174, 0) 0%, rgb(253, 202, 90) 14.28%, rgb(248, 224, 171) 28.56%, rgb(255, 255, 255) 42.85%, rgb(255, 255, 255) 57.14%, rgb(255, 228, 169) 71.42%, rgb(255, 204, 95) 85.71%, rgb(255, 174, 0) 100%) 0% center / 200% auto;
  /* 背景画像を文字でマスクする */
          background-clip: text;
  -webkit-background-clip: text;
  /* 文字色を透明にできればよく color: transparent でも color: rgba(0, 0, 0, 0) でも可 */
  -webkit-text-fill-color: transparent;
  /* アニメーション指定 */
  animation: example 4s linear infinite;
}

/* 背景の横位置をズラす */
@keyframes example {
  to { background-position-x: 200%; }
}

.balloon3-right-btm {
  display: inline-block;
  margin: 5px;
  padding: 0 5px;
  width: 400px;
  height: 150px;
  line-height: 90px;
  text-align: center;
  color: rgb(94, 94, 94);
  font-size: 20px;
  font-weight: bold;
  background: rgba(248, 198, 122, 0.9);
  border-radius: 30px;
}

.user-record-group {
  font-weight: bold;
  font-family: Times New Roman;
  color: rgb(94, 94, 94);
  font-size: 25px;
}

.user-show-btn-group {
  display: flex;
}

.user-show-btn {
  margin: 5px;
}

.mini-group {
  float: right;
}

.text {
  font-size: 15px;
}

.text-center {
  margin-top: -55px;
  padding: 0px;
}

.text-bottom {
  margin-top: -55px;
}


// 新規登録・ログイン・ユーザー編集

.edit-image {
  padding: 30px;
  text-align: center;

}


// ベストタイム登録・編集

.record-container {
  background-color: rgb(228, 247, 222);
  min-height: 100vh;
}

.pulldown-time {
  color: white;
}

.record-content {
  display: inline-block;
  background-color: rgb(122, 226, 245);
  padding: 20px 25px 28px;
  border-radius: 10px;
  margin:20px 0 0 8px;
  font-family: monospace;
}

.record-item {
  margin-bottom: 0 15px 25px 15px;
  font-size: large;
  padding: 15px;
  margin-bottom: 13px;
}

.responsive-d-flex {
  display: flex;
}

// VDOTページ

.vdot-container {
  background-color: rgb(228, 247, 222);
  padding: 100px 20px 20px;
}

.vdot-top-message {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
}

.graph-area-parent {
  display: flex;
  justify-content: center;
}

#graph-area {
  max-width: 800px;
  max-height: 260px;
  width: 50vw;
  height: 15vw;
  padding: 0 80px;
  margin-bottom: 100px;
}

.vdot-dropdown {
  float: right;
  padding: 10px;
}

.vdot-left-btn {
  margin-right: 20px;
}

.dropdown-menu {
  background-color: rgb(186, 234, 248);
  margin: 350px 20px 0 0 ;
}

.dropdown-list {
  padding: 10px 0 10px 25px;
  border-bottom: 1px solid rgb(161, 160, 159);
}

.dropdown-vdot {
  padding: 10px 0 10px 25px;
  margin-bottom: 160px;
  margin-top: 0;
  max-height: 0;
}

.vdot-content {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid black;
}

.vdot-record-item {
  max-width: 350px;
}

.vdot-pace-item {
  max-width: 350px;
}

.pace-margin {
  margin-left: 5px;
}


.vdot-number {
  display: inline-block;
  font-weight: bold;
  color: #f79235;
  border-radius: 10px;
  border: solid 3px #f79235;
  padding: 0.3em 0.5em;
  margin-bottom: 1em;
}

.hide-lists {
  max-width: 800px;
  margin: 0 auto;
}

.hide-list{
  padding: 5px 7px;
}

.header-item {
  padding: 3px 0;
  margin-left: 10px;
}

.form-label {
  font-family: MS UI Gothic;
}

.shared-link {
  color: white;
  font-weight: bold;
  padding: 8px;border-radius: 2px;
  background-color: rgba(3, 75, 19, 0.6);
  border-radius: 4px;
}

.bg-content-item {
  background-color: rgba(241, 249, 252, 0.9);
}

.content-item {
  background-color: rgba(241, 249, 252, 0.9);
}

.vdot-b-t {
  border-top: 2px solid #f79235;
  padding-top: 5px;
}

.vdot-five {
  background-color: pink;
}

.vdot-ten {
  background-color: violet;
}

.vdot-half {
  background-color: lightblue;
}

.vdot-full {
  background-color: gold;
}




// 以下レスポンシブ


@media (max-width: 1000px) {

  .responsive-d-flex {
    display: inline-block;
  }


  .tweet-show-middle-contents {
    display: block;
  }

  .tweet-show-left-contents {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .tweet-show-left-content {
    justify-content: space-around;
    margin-top: 0;
  }

  .tweet-show-profile {
    margin-top: 10px;
    text-align: center;
  }

  .tweet-show-info {
    margin-bottom: 50px;
  }

  .tweet-show-place-texts {
    margin: 10px auto;
    width: 95vw;
    max-width: 1000px;
  }

  .address {
    margin: 20px auto;
    width: 95vw;
  }

  #map {
    margin: 30px auto 0 auto;
    width: 95vw;
    height: 450px;
  }

  .tweet-show-btn {
    display: block;
    text-align: center;
  }

  .tweet-show-delete-btn {
    margin-right: 20px;
    margin-top: 10px;
  }


}

@media (max-width: 800px) {

  .slide-text {
    display: block;
    margin: 10px auto;
  }
  
  .tweet-btn {
    text-align: center;
  }

  .responsive-d-flex {
    display: inline-block;
  }

  .tweet-show-place-image { 
    width: 400px;
    height: 250px;
  }

  .tweet-show-place-name {
    font-size: 25px;
  }

  .tweet-show-middle-contents {
    display: block;
  }

  .tweet-show-left-contents {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  

  .tweet-show-left-content {
    justify-content: space-around;
    margin-top: 0;
  }

  .tweet-show-profile {
    margin-bottom: 10px;
  }

  .tweet-show-place-texts {
    margin: 10px auto;
    width: 92vw;
    max-width: 1000px;
  }

  .address {
    margin: 20px auto;
    width: 92vw;
    font-size: 14px;
  }

  #map {
    margin: 30px auto 0 auto;
    width: 92vw;
    height: 400px;
  }

  .massage-form {
    margin: 20px 0 40px;
    max-width: 600px;
    width: 50vw;
  }

  .record-items{
    display: inline-block;
  }

  // .record-item {
  //   margin: 0 15px;
  //   font-size: large;
  // }

  .signup-form {
    width: 50%;
  } 

  .tweet-show-image-icon {
    width: 110px;
    height: 110px;
    border-radius: 60px;
    margin: 35px 15px 20px 20px;
  }
  
  .tweet-show-content {
    display: block;
    width: 70%;
    padding: 10px 10px 0px 10px;
    margin: 20px 0 20px 30px;
  }

  .tweet-show-btn {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
  }

  .user-show-btn-group {
    display: block;
  }

  .balloon3-right-btm {
    width: 300px;
    height: 130px;
  }


  .user-show-mini {
    position: absolute;
    top: 170px;
    right: -20px;
  }


  .user-show-mini-icon {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    
  } 
  
  .text {
    font-size: 10px;
    margin-top: -10px;
  }

  #graph-area {
    margin-bottom: 50px;
  }

}

@media (max-width: 480px) {

  .slide-image {
    margin-left: 0;
  }

  .tweet-btn {
    text-align: center;
  }

  .slide-text h4 {
    display: inline-block;
    font-size: 25px;
  }  
  
  .slide-text {
    font-size: 13px;
    display: block;
    margin: 10px auto;
  }

  .forms-container {
    padding: 80px 20px 50px;
    text-align: center;
  }

  .forms-content {
    padding: 10px;
  }

  .forms-content {
    padding: 0;
  }

  .tweet-show-place-image { 
    width: 300px;
    height: 200px;
  }

  .tweet-show-place-name {
    font-size: 20px;
  }

  .tweet-show-btn {
    display: inline-block;
    margin-top: 30px;
  }
  
  .responsive-d-flex {
    display: inline-block;
  }

  .record-items{
    display: inline-block;
  }

  #map {
    margin: 20px auto;
    width: 90vw;
    height: 300px;
  }

  .tweet-show-place-texts {
    margin: 10px auto;
    width: 90vw;
  }

  .address {
    margin: 20px auto 40px auto;
    width: 90vw;
    font-size: 10px;
  }

  .massage-form {
    height: 80px;
  }

  .record-item{
   padding: 5px;
   margin-top: 10px;
   margin-bottom: 0;
  }

  .signup-form {
    width: 75%;
  }

  .bg-content-item {
    margin: 10px;
  }

  .tweet-show-image {
    display: flex;
    justify-content: center;
  }
  

  .tweet-show-image-icon {
    width: 110px;
    height: 110px;
    border-radius: 60px;
    justify-content: center;
  }
  
  .tweet-show-content {
    display: block;
    padding: 10px 0;
    margin: 10px; 
  }

  .tweet-show-flex {
    display: block;
  }

  .user-show-btn {
    margin: 10px 5px;
  }

  .tweet-show-info {
    margin-bottom: 20px;
    font-size: 13px;
  }


  .balloon3-right-btm {     // 吹き出し
    width: 250px;
    height: 150px;
    border-radius: 30px;
  }


  .mini-group {
    margin-left: 5px;
  }

  .user-show-mini {
    position: absolute;
    top: 170px;
    right: 0px;
  }

  .user-show-title {
    font-size: 25px;
  }

  .vdot-title {
    font-size: 25px;
  }

  .dropdown {
    position: relative;
  }

  .vdot-dropdown {
    font-size: 10px;
    padding: 5px;
  }

  .dropdown-menu {
    margin: 300px 0 0 0;
    background-color: rgb(186, 234, 248);
    position: absolute;
    left: -50px;
  }

  .dropdown-vdot {
    max-height: 130px;
    max-width: 300px;
    margin-right: 20px;
  }

  #graph-area {

    width: 60vw;
    height: 35vw;
  }

  
}
