@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

a:hover {
  text-decoration: none;
}

.back-ground {
 background: url("/images/3664950_m.png");
 height: 100%;
 background-size: cover;

}

.linear-gray {
  background-image: linear-gradient(
    -45deg,
    rgba(255,255,255,0) 0%, rgba(255,255,255,0.0) 25%,
    rgba(255,255,255,0.4) 25%, rgba(255,255,255,0.4) 50%,
    rgba(255,255,255,0) 50%, rgba(255,255,255,0.0) 75%,
    rgba(255,255,255,0.4) 75%, rgba(255,255,255,0.4) 100%
  );
  background-size: 10px 10px;
  background-repeat: repeat;
}

.linear-gray {
  background-color: lightgray;
}

.top-title  {
  font-size: 80px;
  font-family: cursive;
  color: rgb(245, 210, 165);
}

.page-title {
  // font-family: ;
  color: white;
  display: inline-block;
  font-size: 30px;
  margin: 0; 
  padding: 0;
}

.title-box{
  display: inline-block;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #474747;
  background: rgb(10, 61, 6);
  border-left: double 7px #e09e0d;
  border-right: double 7px #e09e0d;
}

.content {
  position: relative;
  padding: 1em 2em;
  border-top: solid 2px rgb(161, 125, 84);
  border-bottom: solid 2px rgb(161, 125, 84);

}

.content:before, .content:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: rgb(161, 125, 84);
}

.content:before {
  left: 7px;
}

.content:after {
  right: 7px;
}

a {
  font-family: MS UI Gothic;
}

.btn-lg {
  font-family: Times New Roman;
}

.pulldown-time {
  color: white;
}

.time-box {
  padding: 0.3em 0.5em;
  margin: 2em 0;
  font-weight: bold;
  color: #35bd7d;
  background: #FFF;
  border: solid 3px #35bd7d;
  border-radius: 10px;
}

.vdot-number {
  font-weight: bold;
  color: #35bd7d;
}

.hide-list{
  padding: 0.5em 2em;
}

.flash-message{
  display: inline-block;
  color: white;
  background-color: orange;
  padding: 1em;
  border-radius: 10px;
  font-weight: bold;
}

.header-item {
  padding: 3px 0;
  margin-left: 10px;
}

.form-label {
  font-family: MS UI Gothic;
}


@media (min-width: 767px) {

  .responsive-d-flex {
    display: flex;
  }

  .record-items{
    display: flex;
  }

  .record-item{
    margin: 0 15px;
    font-size: large;
  }

}

@media (max-width: 766px) {
  
  .record-item{
    margin: 20px 0;
    font-size: large;
  }

}