
@import "slick-theme"; 
@import "slick";
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  box-sizing: border-box;
}


a {
  font-family: MS UI Gothic;
}

a:hover {
  text-decoration: none;
}

.back-ground {
  height: 100%;
  background-color: rgb(228, 247, 222);
  padding-bottom: 50px;
 }

.back-ground-forest {
 background: url("/images/3664950_m.png");
 height: 100%;
 background-size: cover;
}

.page-title {
  color: white;
  display: inline-block;
  font-size: 30px;
  margin: 0; 
  padding: 0;
}

.title-box{
  display: inline-block;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #474747;
  background: rgb(10, 61, 6);
  border-left: double 7px #e09e0d;
  border-right: double 7px #e09e0d;
}

.btn-lg {
  font-family: Times New Roman;
}

.slide-content {
  height: 480px;
  width: 100vw;
  background-color: rgb(252, 245, 237);
}

.slide-image {
  position: relative;
}

.slide-title {
  position: absolute;
  top: 60px;
  left: 45px;
  z-index: 10;
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 5px;
  margin: 5px;
  
}

.slide-text {
  margin-top: 45px;
  margin-left: 10px;
}

.slide-text h4 {
  background: linear-gradient(transparent 30%, rgb(243, 193, 136));
  display: inline-block;
}


.tweet-index-container {
  padding: 10px;
}

.tweet-index-content-size {
  max-width: 360px
}

.bg-tweet-index-content {
  // height: 35vh;
  padding: 5px;
  background-color: lightblue;
  margin-bottom: 20px;
}

.place-image {
  width: 27vh;
  height: 25vh;
}

.tweet-index-image-icon {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  margin: 10px 0;
}

.tweet-index-content {
  width: 15vh;
  height: 30vh;
}

.tweet-index-place {
  background-color: rgb(245, 206, 161);
  display: inline-block;
  padding: 5px 30px;
}

.tweet-index-text {
  padding: 10px 10px 0 10px;
  margin: 0 0 5px 15px;
  width: 90%;
}

.pulldown-time {
  color: white;
}

.time-box {
  padding: 0.3em 0.5em;
  margin: 2em 0;
  font-weight: bold;
  color: #38c9f5;
  border-radius: 10px;
  border: solid 3px #38c9f5;
  border-radius: 10px;
}

.vdot-number {
  display: inline-block;
  font-weight: bold;
  color: #f79235;
  border-radius: 10px;
  border: solid 3px #f79235;
  padding: 0.3em 0.5em;
  margin-bottom: 1em;
}

.hide-list{
  padding: 0.5em 2em;
}

.flash-message{
  display: inline-block;
  color: white;
  background-color: orange;
  padding: 1em;
  border-radius: 10px;
  font-weight: bold;
}

.header-item {
  padding: 3px 0;
  margin-left: 10px;
}

.form-label {
  font-family: MS UI Gothic;
}

.shared-link {
  color: white;
  font-weight: bold;
  padding: 8px;border-radius: 2px;
  background-color: rgba(3, 75, 19, 0.6);
  border-radius: 4px;
}

.bg-content-item {
  background-color: rgba(241, 249, 252, 0.9);
}

.content-item {
  background-color: rgba(241, 249, 252, 0.9);
}



.graph-bar{
  display: flex;
  justify-content: space-between;
  color: rgb(32, 31, 28);
  font-weight: bold;
  border-radius: 4px;
  padding: 10px;
  margin: 0px 10px 30px 10px;
}

.vdot-b-t {
  border-top: 2px solid #f79235;
  padding-top: 5px;
}

.vdot-five {
  background-color: pink;
}

.vdot-ten {
  background-color: violet;
}

.vdot-half {
  background-color: lightblue;
}

.vdot-full {
  background-color: gold;
}

.record-item{
  margin-bottom: 20px;
  font-size: large;
}

.responsive-d-flex {
  display: flex;
}

.record-items{
  display: flex;
}

.user-record-text {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 5px;

  /* 背景グラデーションを指定・幅を 200% にしておく */
  background: linear-gradient(to right, rgb(255, 174, 0) 0%, rgb(253, 202, 90) 14.28%, rgb(248, 224, 171) 28.56%, rgb(255, 255, 255) 42.85%, rgb(255, 255, 255) 57.14%, rgb(255, 228, 169) 71.42%, rgb(255, 204, 95) 85.71%, rgb(255, 174, 0) 100%) 0% center / 200% auto;
  
  /* 背景画像を文字でマスクする */
          background-clip: text;
  -webkit-background-clip: text;
  
  /* 文字色を透明にできればよく color: transparent でも color: rgba(0, 0, 0, 0) でも可 */
  -webkit-text-fill-color: transparent;
  
  /* アニメーション指定 */
  animation: example 4s linear infinite;
}

/* 背景の横位置をズラす */
@keyframes example {
  to { background-position-x: 200%; }
}

.user-edit-title {
  color: rgb(255, 207, 102);
  background-color: rgba(88, 88, 88, 0.4);
  border: 2px solid rgb(255, 207, 102);
  border-radius: 10px;
  display: inline-block;
  font-size: 30px;
  margin-top: 40px; 
  padding: 5px;
}

.sign-login-bg {
  color: rgb(255, 255, 255);
  background-color: rgba(32, 31, 28, 0.3);
  border-radius: 50px;
  padding: 20px;
  text-align: center;
}

.show-image {
  display: flex;
  justify-content: center;
}

.edit-image {
  padding: 30px;
  text-align: center;

}

.icon_image {
  width: 300px;
  height: 300px;
  //サイズ指定
  border-radius: 200px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}



.tweet-show-image-icon {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 10px 0;
}

.tweet-show-content {
  display: block;
  width: 70%;
  padding: 20px 20px 0px 20px;
  margin: 20px 0 20px 30px;
}

.tweet-show-flex {
  display: flex;
}

.show-top-content {
  border: 5px solid rgb(214, 158, 35);
  background-color: rgba(255, 255, 255, 0.8);
}

// 吹き出し

.balloon3-right-btm {
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 0 5px;
  width: 400px;
  height: 150px;
  line-height: 90px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: rgba(248, 198, 122, 0.9);
  border-radius: 50%;
  box-sizing: border-box;
}

.user-show-btn-group {
  display: flex;
}

.user-show-btn {
  margin: 20px;
}

.mini-group {
  position: relative;
  float: right;
  margin-left: 60px;
}

.user-show-mini {
  position: absolute;
  top: 200px;
  right: -30px;
}

.user-show-mini-icon {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  
} 

.text {
  font-size: 15px;
}

.text-center {
  margin-top: -55px;
  padding: 0px;
}

.text-bottom {
  margin-top: -55px;
}

.vdot-dropdown {
  float: right;
  margin: 0 40px 40px 0px;
  padding: 10px;
}

.dropdown-menu {
  margin: 300px 40px 0 0;
  background-color: rgb(248, 221, 186);
}

.dropdown-i {
  margin: 10px 5px 30px 30px;
}

.record-item {
  margin: 0 15px;
  font-size: large;
}







// 以下レスポンシブ
@media (max-width: 1000px) {
  .responsive-d-flex {
    display: inline-block;
  }
}

@media (max-width: 800px) {

  .top-title {
    display: block;
  }

  .responsive-d-flex {
    display: inline-block;
  }

  .record-items{
    display: inline-block;
  }

  

  .record-item {
    margin: 0 15px;
    font-size: large;
  }

  .signup-form {
    width: 50%;
  }

  // .bg-content-item {
  //   margin: 20px;
  // }


  .tweet-index-image-icon {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    margin: 10px 0 20px 0;
  }



 

  .tweet-show-image-icon {
    width: 110px;
    height: 110px;
    border-radius: 60px;
    margin: 35px 15px 20px 20px;
  }
  
  .tweet-show-content {
    display: block;
    width: 70%;
    padding: 10px 10px 0px 10px;
    margin: 20px 0 20px 30px;
  }
  
  .tweet-show-flex {
    display: flex;
  }

  .balloon3-right-btm {
    width: 300px;
    height: 130px;
  }


  .user-show-mini {
    position: absolute;
    top: 170px;
    right: -20px;
  }


  .user-show-mini-icon {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    
  } 
  
  .text {
    font-size: 10px;
    margin-top: -10px;
  }

}

@media (max-width: 480px) {


  .top-title {
    display: block;
  }

  .responsive-d-flex {
    display: inline-block;
  }

  .record-items{
    display: inline-block;
  }

  .record-item{
    margin: 20px 0;
    font-size: large;
  }

  .signup-form {
    width: 75%;
  }

  .bg-content-item {
    margin: 10px;
  }



 

  .tweet-show-image {
    display: flex;
    justify-content: center;
  }
  

  .tweet-show-image-icon {
    width: 110px;
    height: 110px;
    border-radius: 60px;
    justify-content: center;
  }
  
  .tweet-show-content {
    display: block;
    width: 90%;
    padding: 10px 10px 0px 10px;
    margin: 20px; 
  }

  .tweet-show-flex {
    display: block;
  }

  .user-show-btn {
    margin: 10px 5px;
  }

  .mini-group {
    margin-left: 5px;
  }

  .user-show-mini {
    position: absolute;
    top: 170px;
    right: 0px;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-menu {
    margin: 300px 0 0 0;
    background-color: rgb(245, 214, 173);
    position: absolute;
    left: -50px;
  }

  
}
