
@import "slick-theme";
@import "slick";
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  box-sizing: border-box;
}

a {
  font-family: MS UI Gothic;
}

a:hover {
  text-decoration: none;
}

.btn-lg {
  font-family: Times New Roman;
}

.navbar {
  opacity: 0.9;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(238, 235, 235);
}

.navbar-toggler{
  border-color: #ffffff;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(60,60,60,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.top-btn {
  color: rgb(39, 148, 25);
  font-weight: bold;
  font-size: 30px;
}

.f-f-monospace {
  font-family: monospace;
}

.border-none {
  border: none;
}

.titles {
  display: inline-block;
  color: rgb(70, 69, 69);
  display: inline-block;
  font-size: 40px;
  font-family: monospace;
  margin-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

.forms-container {
  background-color: rgb(245, 245, 245);
  padding: 80px 20px 50px;
  text-align: center;
}

.forms-content {
  display: inline-block;
  color: rgb(75, 73, 73);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 50px;
  padding: 20px;
}

footer {
  background-color: rgb(91, 177, 64);
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 12px;
  text-align: center;
  color: white;
}

.text-muted {
  color: rgb(255, 255, 255);
}


.before_image {
  height: 100px;
  width: 100px;
}

.error {
  list-style: none;
  color: red;
  font-size: 12px;
}

.flash-message {
  display: inline-block;
  color: white;
  background-color: orange;
  padding: 1em;
  border-radius: 10px;
  font-weight: bold;
  z-index: 10;
  margin-top: 75px;
  margin-left: 10px;
}

.key {
  color: white;
  background-color: orange;
  font-weight: bold;
  z-index: 10;
  padding: 10px 30px;
  margin-top: 80px;
}


// トップページ


.back-ground {
  background-color: rgb(245, 245, 245);
  padding-bottom: 50px;
 }

 .slide-content {
   background-image: url("/images/forest.jpg");
}

.slide-content {
  opacity: 1;
  margin-top: 80px;
}

.slide-text {
  margin-top: 45px;
  margin-left: 10px;
}

.slide-text h4 {
  background: linear-gradient(transparent 30%, rgb(209, 212, 61));
  display: inline-block;
  font-size: 30px;
}

.run-record {
  font-weight: bold;
  margin: 0 5px;
  border-bottom: 1px solid black;
}

.tweet-btn {
  margin: 0 0 70px 30px;
}

.search-input {
  width: 40%;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.search-btn {
  background-color: rgb(36, 167, 42);
  color: white;
  border-style: none;
  padding: 9px 20px;
  margin-left: 20px;
  font-size: large;
  border-radius: 5px;
}

.paginate-parent {
  text-align: center;
}

.paginate {
  display: inline-block;
  font-size: 25px;
}

.pagination>li>a {
  color: #696969;
}

.pagination>.active>a {
  background-color: rgb(124, 124, 124);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 10px;
}

.tweet-index-content-size {
  width: 350px;
  max-width: 350px;
}

.bg-tweet-index-content {
  padding: 5px;
  background-color: rgb(240, 240, 240);
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px 2px rgb(161, 160, 160);
}

.place-image {
  width: 200px;
  height: 180px;
}

.tweet-index-image-icon {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  margin-bottom: 5px;
}

.tweet-index-content {
  text-align: center;
}

.tweet-index-nickname {
  font-size: 11px;
  color: black;
}

.tweet-index-address {
  margin: 10px;
  color: black;
  font-size: 10px;
  height: 50px;
}

.tweet-index-place {
  background-color: rgb(124, 124, 124);
  display: inline-block;
  padding: 10px 30px 5px 30px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(238, 237, 237);
  width: 90%;
  text-align: center;
}

.tweet-index-text {
  padding: 10px 10px 0 10px;
  margin: 0 0 5px 15px;
  width: 90%;
  height: 120px;
  border: 1px solid rgb(201, 199, 199);
}


// 投稿詳細ページ


.tweet-show-container {
  padding-top: 100px;
  background-color: rgb(245, 245, 245);
  padding-left: 30px;
  padding-bottom: 100px;
}

.tweet-show-place-image {
  width: 650px;
  height: 450px;
}

.tweet-show-place-info {
  display: flex;
  justify-content: space-between;
  width: 650px;
}

.tweet-show-place-name {
  font-size: 40px;
  font-weight: bold;
}

.tweet-show-profile {
  margin-top: 10px;
  padding-left: 40px;
}

.tweet-user {
  color: black;
  font-size: 20px;
  margin: 5px 0 0 5px;
}

.tweet-show-image-icon {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.tweet-show-info {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  text-align: center;
  color: rgb(94, 94, 94);
  font-size: 20px;
  font-weight: bold;
  background: rgba(248, 198, 122, 0.9);
  border-radius: 10px;
}

.tweet-show-delete-btn {
  margin-left: 10px;
}

.tweet-show-place-texts {
  background-color: white;
  padding: 10px;
  font-size: large;
  border-radius: 4px;
  height: 150px;
  margin-right: 0;
  margin-top: 20px;
  max-width: 650px;
  border: 1px solid rgb(200, 200, 200);
}

.address {
  background-color: white;
  border-radius: 4px;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 0;
  width: 650px;
  max-height:50px;
  font-size: 14px;
  border: 1px solid rgb(200, 200, 200);
}

#map{
  height: 440px;
  width: 650px;
  margin-top: 30px;
}

.massage-form-group {
  margin-left: 10px;
}

.massage-form {
  margin: 20px 0 40px;
  max-width: 500px;
  width: 50vw;
}

.message {
  padding: 5px;
  margin-left: 30px;
  border-bottom: 1px solid black;
  max-width: 500px;
}

.post-time-message {
  margin-right: 20px;
}

.message-user {
  color: gray;
}


// ユーザー詳細ページ

.user-content {
  background-color:  rgb(245, 245, 245);
  margin-top: 80px;
}

.user-profile {
  margin-top: 40px;
  background-color: rgb(219, 228, 169);
  padding: 10px;
  border-radius: 10px;
}

.show-image {
  display: flex;
  justify-content: center;
}

.user-show-name-parent {
  text-align: center;
}

.user-show-name {
  padding: 5px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 30px;
  background-color: white;
  color: rgb(94, 94, 94);
}

.icon_image {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  object-fit: cover; //タテヨコ比を変えないままトリミング
}

.balloon3-right-btm {
  display: inline-block;
  margin: 5px;
  padding: 0 5px;
  width: 400px;
  height: 150px;
  line-height: 90px;
  text-align: center;
  color: rgb(95, 95, 95);
  font-size: 20px;
  background: rgba(218, 218, 218, 0.9);
  border-radius: 30px;
}

.user-record-group {
  font-family: MS Serif;
  color: rgb(94, 94, 94);
  font-size: 25px;
  padding-left: 25vw;
  padding-right: 25vw;
}

.user-show-btn-group {
  display: flex;
}

.user-show-btn {
  margin: 5px;
}

.user-show-delete-btn {
  background-color: rgb(61, 61, 61);
  border: gray;
}

.mini-group {
  float: right;
}

.text {
  font-size: 15px;
}

.text-center {
  margin-top: -55px;
  padding: 0px;
}

.text-bottom {
  margin-top: -55px;
}


// 新規登録・ログイン・ユーザー編集

.edit-image {
  padding: 30px;
  text-align: center;
}

.gest-login {
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid gray;
  border-radius: 10px;
}

.gest-login-text {
  color: rgb(70, 70, 69);
  font-size: 20px;
  border-bottom: 1px solid rgb(70, 70, 69);
}


// ベストタイム登録・編集

.record-container {
  background-color: rgb(245, 245, 245);
  min-height: 100vh;
}

.pulldown-time {
  color: white;
}

.record-content {
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 20px 25px 28px;
  border: 1px solid  rgb(200, 200, 200);
  border-radius: 10px;
  margin:20px 0 0 8px;
  font-family: monospace;
  max-width: 700px;
  align-items: center;
}

.record-hide-text {
  font-size: 35px;
 }

.record-items {
  display: flex;
}

.record-item {
  margin-bottom: 0 15px 25px 15px;
  font-size: large;
  padding: 15px;
  margin-bottom: 13px;
}

.responsive-d-flex {
  display: flex;
}

// VDOTページ

.vdot-container {
  background-color: rgb(245, 245, 245);
  padding: 100px 20px 20px;
}

.vdot-top-message {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
}

.graph-area-parent {
  display: flex;
  justify-content: center;
}

#graph-area {
  max-width: 800px;
  max-height: 260px;
  width: 50vw;
  height: 15vw;
  padding: 0 80px;
  margin-bottom: 100px;
}

.vdot-dropdown {
  float: right;
  padding: 10px;
}

.vdot-left-btn {
  margin-right: 20px;
  background-color: rgb(36, 167, 42);
  color: white;
  border: none;
  border-radius: 5px;
}

.vdot-right-btn {
  background-color: rgb(36, 167, 42);
  color: white;
  border: none;
  border-radius: 5px;
}

.dropdown-menu {
  background-color: rgb(190, 228, 190);
  margin: 350px 20px 0 0 ;
}

.dropdown-list {
  padding: 10px 0 10px 25px;
  border-bottom: 1px solid rgb(161, 160, 159);
}

.dropdown-vdot {
  padding: 10px 0 10px 25px;
  margin-bottom: 160px;
  margin-top: 0;
  max-height: 0;
}

.vdot-content {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 2px rgb(173, 173, 173);
}

.vdot-record-item {
  max-width: 350px;
}

.vdot-pace-item {
  max-width: 350px;
}

.pace-margin {
  margin-left: 5px;
}


.vdot-number {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.hide-lists {
  max-width: 800px;
  margin: 3px auto 0;
}

.hide-list{
  padding: 0 2px;
}

.header-item {
  padding: 3px 0;
  margin-left: 10px;
}

.form-label {
  font-family: MS UI Gothic;
}

.shared-link {
  color: rgb(95, 95, 95);
  font-weight: bold;
  padding: 8px;
}

.bg-content-item {
  background-color: rgba(241, 249, 252, 0.9);
}

.content-item {
  background-color: rgba(241, 249, 252, 0.9);
}

.vdot-b-t {
  border-top: 2px solid rgb(100, 100, 100);
  padding-top: 5px;
}

.vdot-five {
  background-color:  rgba(63, 63, 63, 0.4);
  color: white;
}

.vdot-ten {
  background-color: rgba(63, 63, 63, 0.4);
  color: white;
}

.vdot-half {
  background-color: rgba(63, 63, 63, 0.4);
  color: white;
}

.vdot-full {
  background-color: rgba(63, 63, 63, 0.4);
  color: white;
}




// 以下レスポンシブ


@media (max-width: 1000px) {

  .responsive-d-flex {
    display: inline-block;
  }

  .tweet-show-profile {
    margin-top: 10px;
    text-align: center;
  }

  .tweet-show-btns {
    display: block;
    text-align: center;
  }


}

@media (max-width: 800px) {

  .slide-text h4 {
    font-size: 35px;
  }

  .slide-text {
    display: block;
    margin: 10px auto;
  }

  .tweet-btn {
    text-align: center;
  }

  .search-form {
    text-align: center;
  }

  .search-input {
    width: 60%;
  }

  .responsive-d-flex {
    display: inline-block;
  }

  .tweet-show-container {
    padding-left: 20px;
  }

  .tweet-show-place-image {
    width: 92vw;
    height: 70vw;
  }

  .tweet-show-place-name {
    font-size: 30px;
  }

  .tweet-show-place-info {
    width: 92vw;
  }

  .tweet-show-profile {
    margin-top: 0;
    text-align: end;
    padding-left: 10px;
  }

  .tweet-user {
    font-size: 13px;
  }

  .tweet-show-btn {
    padding: 4px 8px;
  }

  .tweet-show-place-texts {
    margin: 10px 0;
    max-width: 800px;
    width: 92vw;
  }

  .address {
    margin: 0 auto;
    width: 92vw;
  }

  #map {
    margin: 30px auto 0 auto;
    width: 92vw;
    height: 400px;
  }

  .massage-form {
    width: 70vw;
  }

  .message {
    margin-left: 20px;
    max-width: 80vw;
  }

  .record-title {
    font-size: 35px;
  }

  .record-content {
    display: flex;
    align-items: flex-end;
    max-width: 450px;
  }

  .record-hide-text {
   font-size: 21px;
  }

  .record-items{
    display: inline-block;
  }

  .record-btn {
    margin-bottom: 27px;
  }

  .signup-form {
    width: 50%;
  }

  .tweet-show-content {
    display: block;
    width: 70%;
    padding: 10px 10px 0px 10px;
    margin: 20px 0 20px 30px;
  }

  .user-record-text {
    font-size: 20px;
    padding: 20px 0 40px 10px;
  }

  .user-record-group {
    padding-left: 13vw;
    padding-right: 13vw;
  }

  .tweet-show-btns {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .user-show-btn-group {
    display: block;
  }

  .balloon3-right-btm {
    width: 300px;
    height: 130px;
  }


  .user-show-mini {
    position: absolute;
    top: 170px;
    right: -20px;
  }


  .user-show-mini-icon {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }

  .text {
    font-size: 10px;
    margin-top: -10px;
  }

  #graph-area {
    margin-bottom: 50px;
  }

}

@media (max-width: 480px) {

  .slide-image {
    margin-left: 0;
  }

  .tweet-btn {
    text-align: center;
  }

  .slide-text h4 {
    display: inline-block;
    font-size: 25px;
  }

  .slide-text {
    font-size: 13px;
    display: block;
    margin: 10px auto;
  }

  .paginate {
    font-size: 15px;
  }

  .forms-container {
    padding: 80px 20px 50px;
    text-align: center;
  }

  .forms-content {
    padding: 10px;
  }

  .forms-content {
    padding: 0;
  }

  .tweet-show-container {
    padding-left: 10px;
  }

  .tweet-show-image {
    display: flex;
    justify-content: center;
  }

  .tweet-show-place-name {
    font-size: 20px;
  }

  .responsive-d-flex {
    display: inline-block;
  }

  .record-items{
    display: inline-block;
  }

  .tweet-show-place-info {
    display: block;
  }

  .tweet-show-btns {
    justify-content: flex-end;
  }

  .tweet-show-btn {
    padding: 2px 4px;
    font-size: 10px;
  }

  .address {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #map {
    height: 300px;
  }

  .message-group {
    padding-top: 200px;
   }

  .massage-form {
    height: 80px;
  }

  .record-content {
    display: inline-block;
    min-width: 250px;
  }

  .record-title {
    font-size: 27px;
  }

  .record-item{
   padding: 5px;
   margin-top: 10px;
   margin-bottom: 0;
  }

  .record-hide-text {
    font-size: 15px;
   }

  .signup-form {
    width: 75%;
  }

  .bg-content-item {
    margin: 10px;
  }

  .user-record-text {
    font-size: 20px;
    padding: 20px 0 40px 0;
  }

  .user-record-group {
    padding-left: 5px;
    padding-right: 5px;
  }

  .tweet-show-flex {
    display: block;
  }

  .user-show-btn {
    margin: 10px 5px;
  }

  .tweet-show-info {
    margin-bottom: 20px;
    font-size: 13px;
  }


  .balloon3-right-btm {
    width: 250px;
    height: 150px;
    border-radius: 30px;
  }


  .mini-group {
    margin-left: 5px;
  }

  .user-show-mini {
    position: absolute;
    top: 170px;
    right: 0px;
  }

  .user-show-title {
    font-size: 25px;
  }

  .record-btn {
    margin-top: 20px;
    margin-left: 5px;
  }

  .vdot-title {
    font-size: 25px;
  }

  .dropdown {
    position: relative;
  }

  .vdot-dropdown {
    font-size: 10px;
    padding: 5px;
  }

  .dropdown-menu {
    margin: 300px 0 0 0;
    background-color: rgb(186, 234, 248);
    position: absolute;
    left: -50px;
  }

  .dropdown-vdot {
    max-height: 130px;
    max-width: 300px;
    margin-right: 20px;
  }

  #graph-area {

    width: 60vw;
    height: 35vw;
  }


}
