.user-container {
  padding-top: 100px;
  max-width: 1300px;
  width: 100vw;
}

.user-introduction-content {
  margin: 20px 10px;
  padding-bottom: 30px;
}

.user-profile {
  margin-top: 30px;
  margin-left: 20px;
  text-align: center;
  display: inline-block;
  max-width: 600px;
}

.icon_image {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  object-fit: cover;
}

.user-show-name {
  font-weight: bold;
  font-size: 18px;
}

.user-show-border {
  border-bottom: 1px solid rgb(182, 182, 182);
  padding-bottom: 30px;
}

.user-record-content {
  margin-top: 30px;
  margin-left: 10px;
}

.user-show-title {
  font-family: monospace;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.user-record-group {
  font-family: MS Serif;
  color: rgb(94, 94, 94);
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

.runner-level-group {
  margin-left: 100px;
}

.runner-level-title {
  font-size: 40px;
}

.runner-level-text {
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
}

.graph-area-parent {
  justify-content: center;
}

#graph-area {
  width: 450px;
  height: 230px;
}

.runner-levels {
  font-size: 12px;
  margin-top: 30px;
  margin-right: 20px;
}

.fa-running {
  color: rgb(38, 161, 38);
  font-size: 18px;
}

.next-record-group {
  margin-top: 40px;
}

.next-record-title {
  display: inline-block;
  font-family: monospace;
  font-size: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.practice-records {
  margin-left: 50px;
  margin-bottom: 40px;
}

.practice-text {
  font-size: 14px;
}

.practice-menus {
  margin: 0 75px;
}

.content-item {
  background-color: rgba(241, 249, 252, 0.9);
}

.vdot-b-t {
  border-top: 2px solid rgb(100, 100, 100);
  padding-top: 5px;
}

.vdot-five {
  background-color:  rgba(63, 63, 63, 0.4);
  color: white;
}

.vdot-ten {
  background-color: rgba(63, 63, 63, 0.4);
  color: white;
}

.vdot-half {
  background-color: rgba(63, 63, 63, 0.4);
  color: white;
}

.vdot-full {
  background-color: rgba(63, 63, 63, 0.4);
  color: white;
}

.user-show-ul {
  margin: 0;
  padding: 0;
}

.tab_list {
overflow: hidden;
}

.tab_list li {
float: left;
padding: 10px 20px;
cursor: pointer;
transition: 0.5s;
}

.tab_list li:not(:first-child) {
border-left: none;
}

.tab_list li.active {
/* 選択中のタブ */
background-color: rgb(36, 163, 36);
border: 2px solid rgb(36, 163, 36);
border-bottom-style: none;
color: white;
cursor: auto;
}

.article{
overflow: hidden;
margin-top: -1px;
}

.article li {
/* 練習メニュー大枠 */
padding: 40px;
border: 2px solid rgb(36, 163, 36);
}

@media (max-width: 800px) {

  #graph-area {
    margin-bottom: 50px;
  }

  .user-record-text {
    font-size: 20px;
    padding: 20px 0 40px 10px;
  }

  .user-record-group {
    padding-left: 13vw;
    padding-right: 13vw;
  }



  .user-show-btn-group {
    display: block;
  }

}

@media (max-width: 480px) {

  .user-show-title {
    font-size: 25px;
  }

  .user-record-text {
    font-size: 20px;
    padding: 20px 0 40px 0;
  }

  .user-record-group {
    padding-left: 5px;
    padding-right: 5px;
  }

  #graph-area {

    width: 60vw;
    height: 35vw;
  }

  .user-show-btn {
    margin: 10px 5px;
  }

}