.record-content {
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 20px 25px 28px;
  border: 1px solid  rgb(200, 200, 200);
  border-radius: 10px;
  margin:20px 0 0 8px;
  font-family: monospace;
  max-width: 700px;
  align-items: center;
}

.record-hide-text {
  font-size: 35px;
 }

.record-items {
  display: flex;
}

.record-item {
  margin-bottom: 0 15px 25px 15px;
  font-size: large;
  padding: 15px;
  margin-bottom: 13px;
}

@media (max-width: 800px) {

  .record-title {
    font-size: 35px;
  }

  .record-content {
    display: flex;
    align-items: flex-end;
    max-width: 450px;
  }

  .record-hide-text {
   font-size: 21px;
  }

  .record-items{
    display: inline-block;
  }

  .record-btn {
    margin-bottom: 27px;
  }

}

@media (max-width: 480px) {

  .record-content {
    display: inline-block;
    min-width: 250px;
  }

  .record-title {
    font-size: 27px;
  }

  .record-item{
   padding: 5px;
   margin-top: 10px;
   margin-bottom: 0;
  }

  .record-hide-text {
    font-size: 15px;
   }

   .record-btn {
    margin-top: 20px;
    margin-left: 5px;
  }

}